<!-- Sobre Mi -->
<div class="row justify-content-between" id="fila2">
    <div class="col-4">
        <h2>Sobre Mí</h2>
    </div>
    <div class="col-4" id="botones">
        <span onclick="cambiar_parrafo(getElementById('desc'), getElementById('edit-desc'))">
            <a href="#" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
            </a>
        </span>
    </div>
    <p id="desc">Estudiante Ingenieria en Sistemas de Informacion, 18 años, hincha de Boca, messista.</p>
    <input class="inputtext" id="edit-desc" type="text" style="display:none">
</div>
