<!-- conocimientos -->
<div class="row justify-content-between" id="fila4">
    <div class="col">
        <h2>Conocimientos</h2>
    </div>
    <div class="col-4" id="botones">
        <span onclick="cambiar_parrafo(getElementById('conocimientos'), getElementById('edit-conocimientos'))">
            <a href="#" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
            </a>
        </span>
    </div>
    <p id="conocimientos">
        Python.<br>
        Desarrollo Web: HTML, CSS, JavaScript/Typescript.<br>
        Angular, Nodejs, Sql.
    </p> 
    <input class="inputtext" id="edit-conocimientos" type="text" style="display:none">
</div>

