<!-- EstudioS -->
<div class="row justify-content-between" id="fila3">
    <div class="col">
        <h2>Estudios</h2>
    </div>
    <div class="col-4" id="botones">
        <span onclick="cambiar_parrafo(getElementById('estudios'), getElementById('edit-estudios'))">
            <a href="#" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
            </a>
        </span>
    </div>
    <p id="estudios">
        Ingenieria en Sistemas. UTN FRC. Cordoba, Argentina. <br>
        Desarrollo Web full stack junior Argentina Programa. <br>
        Estudios Secundarios en: Instituto General José de San Martín, La Pampa.
    </p>
    <input class="inputtext" id="edit-estudios" type="text" style="display:none">

</div>
